@using BlogApp.Pages
@inherits LayoutComponentBase
<div class="page">
    <main>
        <Sidebar/>
        <BlogSection Title="Your feed">
        </BlogSection>
        <FriendsSection/>
    </main>
</div>
