<div class="sidebar_section">
    <span id="title">Socify</span>
    <ul>
        <a href="/"><li><i class="fa-regular fa-comment"></i><span>Feed</span></li></a>
        <a href="/messages"><li><i class="fa-solid fa-inbox"></i><span>Messages</span></li></a>
        <a href="/forums"><li><i class="fa-brands fa-discourse"></i><span>Forums</span></li></a>
        <a href="/friends"><li><i class="fa-solid fa-user-group"></i><span>Friends</span></li></a>
        <a href="/media"><li><i class="fa-regular fa-image"></i><span>Media  </span></li></a>
        
        <button class="draft">
            <i class="fa-regular fa-pen-to-square"></i>
            Post
        </button>
    </ul>

    <aside class="user_func">
        
        <div>
            <button class="settings">

            <i class="fa-solid fa-gear"></i>

            
        </button>

        <button class="profile">
            <i class="fa-solid fa-circle-user"></i>
        </button>
        </div>
        
    </aside>
</div>