<div class="top_section">
        <h1>@Title</h1>

        @if (FeedControl)
        {
            <ul class="blog-filter">
            <li>Recent</li>
            <li>Friends</li>
            <li>Followers</li>
            </ul>
        }
        
</div>

@code {
    [Parameter]
    public string Title {get; set; } = string.Empty;

    [Parameter]
    public bool FeedControl {get; set; } = true;
}