@page "/feed"
@using BlogApp.Pages.UserPost

<div class="blog-container">
    <TopSection Title="Feed"/>

    <div class="blog-section">
        <Blogs/>
        <Blogs/>
        <Blogs/> 
    </div>
       
</div>