.card{
    width: auto;    
    height: auto;
    height: auto;
    min-height: 200px;
    margin: 20px;   
    padding: 40px 30px;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: #16213E;
    color: #94A3B8;
    border: .5px solid #9a9a9a68;
}

.card:active {
    background-color: #16213ebf;
}

.card-top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.card:hover {
    cursor: pointer;
}

.card p {
    font-size: .6em;
}

.read-more {
    background: none;
    border: none;
    color: #64748B;
}

.read-more:hover {
    text-decoration: underline;
}

.media {
    width: fit-content;
    max-width: 600px;
    max-height: 600px;
    background-color: blue;
    border-radius: 20px;
    overflow: hidden;
    justify-self: center;
}


.media img {
    max-height: 600px;  
}

.reactions {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 20px;
}

.reactions button {
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.reactions button:hover {
    background-color: #7e7e7e1c;
}