.card{
    width: auto;    
    height: auto;
    height: auto;
    min-height: 200px;
    /* max-height: 300px; */
    margin: 20px;   
    padding: 40px 30px;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.card-top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.card:hover {
    cursor: pointer;
}

.card p {
    font-size: .6em;
}

.read-more {
    background: none;
    border: none;
    color: gray;
}

.read-more:hover {
    text-decoration: underline;
}

.media {
    width: 70%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}
.media img {
}