@page "/feed"

<div class="blog-container">
    <div class="top_section">
        <h1>@Title</h1>
        <ul class="blog-filter">
            <li>Recent</li>
            <li>Friends</li>
            <li>Followers</li>
        </ul>
    </div>
        <hr />

    <div class="blog-section">
        <Blogs/>
        <Blogs/>
        <Blogs/> 
    </div>
       
</div>

@code {
    [Parameter]
    public string Title {get; set; } = "Feed";
}