<div class="friends-container">
    <h3>Friends</h3>
    <div class="friends-box">
        <div class="friends">friend 1</div>
        <div class="friends">friend 1</div>
        <div class="friends">friend 1</div>
    </div>
<br>
    <h3>Who to follow</h3>
    <div class="friends-box">
        <div class="friends">friend 1</div>
        <div class="friends">friend 1</div>
        <div class="friends">friend 1</div>
    </div>
</div>