* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient-background-color: #D2E4E6;
    --background-color: #D2E4E6;
    --background-color-2: #DBE9EA;
    --text-color: rgb(9, 16, 19);
    --text-color-2: rgb(0, 78, 111);
    --foreground-color: #2C929D;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

h1 {
    color: var(--text-color-2);
}

body {
    font-size: .8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    background-color: var(--background-color);
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    background-image: linear-gradient(to bottom, var(--background-color), #40cede3f);
    background-color: var(--background-color);
    background-attachment: fixed;
    height: auto;
}

main {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

main span {
    color: var(--text-color-2);
}


.top_section {
    width: 100%;
    height: 10%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
}

.head_content {
    display: block;
    animation: slideDown .6s ease-out;
    animation-fill-mode: forwards;
}

.user_tab {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    animation: slideDown .6s ease-out;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

img {
    width: 20px;
}

.search_bar {
    background: none;
    display: none;
    height: 30px;
    width: 300px;
    border: 1px solid #111;
    border-radius: 20px;
    padding: 5px;
}

.search_bar:focus {
    outline: none;
    font-size: .94rem;
    display: none;
}



.user_tab .search, .notifications {
    width: 30px;
    height: 30px;
    margin: 6px;
    background: none;
    border: none;
}

.profile {
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 50%;
    background: revert;
    background-image: url("../Images/pexels-vincent-santamaria-194760512-37148308.jpg");
    background-size: 30px;
    background-repeat: no-repeat;
    border: 2px solid var(--foreground-color);
}


.top_section span {
    font-size: 17px;
    color: var(--text-color-2);
}

.top_section h1 {
    font-size: 2.5rem;
}

.main_section {
    height: 80%;
    width: auto;
    min-height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats {
    max-width: 97%;
    width: 97%;
    height: 40%;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.income {
    opacity: 0;
    animation: slideUp .4s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .1s;
}

.income_stats {
    opacity: 0;
    animation: slideUp .4s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

 .income, .income_stats {
    height: 70%;
    background-color: var(--background-color-2);
    border-radius: 30px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.119);
    padding: 20px;
}
header {
    border-right: solid #111 1px;
    width: 20%;
    transition: width 0.4s ease-in-out; 
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.sidebar .logo{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: left;
}

.logo img {
    width: 100px;
    padding: 30px 40px;
    
}

.functions {
    width: 30px;
    height: 30px;
    margin: 5px;
    background: none;
    border: none;
    z-index: 1;
    position: absolute;
}

.sidebar .functions {

    right: 0;
    top: 0;
}

header.minimized{
    width: 5%;
}

.sidebar .functions:hover {
    cursor: pointer;
}


.functions img {
    width: 25px;
}

nav ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul a {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    width: 90%;
    border-radius: 10px;
    padding-left: 20px;
    margin: 5px;
    height: 80px;
    text-decoration: none;
    color: var(--text-color);
}

nav ul a:hover {
    background-color: var(--foreground-color);
    background-image: var(--text-color-2)

    
}

ul a li {
    display: flex;
    align-items: left;
}

.hideElement {
    display: none;
}


ul a li img {
    width: 20px;
    padding: 0 10px;
}

main .functions {
    display: none;
}

.history {
    width: 100%;    
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

@media (max-width: 768px) {
  .history_table {
    flex-direction: column; /* Stacks children vertically on smaller screens */
  }
}

.history_table {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: max-content;
    min-height: 200px;
    background-color: var(--background-color-2);
    border-radius: 20px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.119);
}



.income, .income_stats, .history_table {
    border: 1px solid #fff;
}

.chart_container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 250px;
    margin: 40px;
    display: flex;
    flex-direction: row;
}

#myChart{
    width: inherit;

}

.history_table h1 {
    width: 100%;
    height: 40px;
    padding: 20px;
}

.history table {
    width: 60%;
    height: auto;
    padding: 30px;
    border-collapse: collapse; 
    border-style: hidden; 
}

table td, table th {
  /* Defines the internal grid lines */
  border: 1px solid black;
  padding: 0 8px;
}

.widget_section {
    background-color: blue;
    width: 100%;
    height: 100vh;
}
@media (max-width: 1000px) {
    header {
        display: none;
    }

    main .functions {
        display: block;
    }   
}

.dropdown_profile {
    display: flex;
    justify-content: center;
}
.dropdown_content {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 5.5rem;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
    top: 50px;
    overflow: hidden;
    z-index: 1;
}

.dropdown_content a {
    width: 100%;
    height: fit-content;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_content a:hover {
    background-color: #dedede;
}

.show {
    display: flex;
}

.view_all {
    background: none;
    border: none;
    color: var(--text-color-2);
}

.top {
    display: flex;
    flex-direction: row;
}

.view_all {
    width: fit-content;
    align-self: flex-end;
    margin-left: auto;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
}

.content h1 {
    color: black;
    font-size: 3rem;
}

.content h1 span {
    font-size: 1.3rem;
    color: black;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}