.top_section[b-y3a2mhd8vc] {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 30px;
    position: absolute;
    z-index: 1;
    background-color: #1a1a2ede; 
    backdrop-filter: blur(30px); 
    color: #E2E8F0;  
    border: none;
}

.top_section ul[b-y3a2mhd8vc] {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-weight: 100;
}

h1[b-y3a2mhd8vc] {
    font-size: 30px;
    white-space: nowrap;
    outline: none;
}

.top_section ul li[b-y3a2mhd8vc] {
    cursor: pointer;
    box-sizing: border-box;
    width: 50px;
}

.top_section ul li:hover[b-y3a2mhd8vc]{
    font-weight: 700;
}

@media (max-width: 700px) {

    .top_section ul[b-y3a2mhd8vc] {
        display: none;
    }
}